.btn-primary {
    background-color: #0d1e2e;
    border-color: #0d1e2e;
}

.card {
    padding:0px;
    margin-right:20px;
    margin-bottom: 50px;
}

.row {
    margin: 0 auto;
}

.page-footer {
    padding:50px;
}

.header h1 {
    text-align: center; 
    padding-top:30px;
    font-family: 'Courier New', monspace;
    font-size:calc(2em + 2vw);
    color:#0c445d;
}



.date {
    text-align:center;
}

.row {
    margin-left:30px;
}